p.TIT
{
	display: block;
	text-align: center;
	text-indent: 0.00em;
	margin-bottom: 0.00em;
	margin-top: 0.00em;
	margin-right: 0.00em;
	margin-left: 0.00em;
}


span.cn {
	font-size : 2.5em;
}
span.R {
	font-weight : normal;
	font-style : normal;
}
span.ePub-SC-I {
	font-weight : normal;
	font-style : italic;
	font-size: 0.70em;
}
span.ePub-I {
	font-weight: normal;
	font-style: italic;
}
span.ePub-SC {
	font-size: 0.70em;
}
span.ePub-B {
	font-weight: bold;
	font-style: normal;
}
span.ePub-B-1 {
	font-weight: bold;
	font-style: normal;
}
span.ata {
	font-weight : normal;
	font-style : normal;
}
span.ePub-B-2 {
	font-weight: bold;
	font-style : normal;
}
span.ePub-B-3 {
	font-weight: bold;
	font-style : normal;
}
p.STXS {
	font-weight : normal;
	font-style : normal;
	font-size : 0.93em;
	text-decoration : none;
	line-height : 1.38;
	text-align : justify;
	text-indent : 1.2em;
	margin : 20px 0em;
}
p.TX {
	font-weight : normal;
	font-style : normal;
	font-size : 0.93em;
	text-decoration : none;
	line-height : 1.38;
	text-align : justify;
	text-indent : 1.2em;
	margin : 0em;
}
p.TXS {
	font-weight : normal;
	font-style : normal;
	font-size : 0.93em;
	text-decoration : none;
	line-height : 1.38;
	text-align : justify;
	text-indent : 1.2em;
	margin : 0em 0em 1.2em 0em;
}
p.CN {
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	line-height : 1.55;
	text-align : center;
	text-indent : 0em;
	margin : 0em 0em 100px 0em;
	-epub-hyphens:none;
	-web-hyphens:none;
}
p.CO {
	font-weight : normal;
	font-style : normal;
	font-size : 0.93em;
	text-decoration : none;
	line-height : 1.38;
	text-align : justify;
	text-indent : 0em;
	margin : 0em;
}
p.EX {
	font-weight : normal;
	font-style : normal;
	font-size : 0.93em;
	text-decoration : none;
	line-height : 1.38;
	text-align : justify;
	text-indent : 0em;
	margin : 0em 2.4em;
}
p.EXI {
	font-weight : normal;
	font-style : normal;
	font-size : 0.93em;
	text-decoration : none;
	line-height : 1.38;
	text-align : justify;
	text-indent : 1.2em;
	margin : 0em 2.4em;
}
p.SB3 {
	font-weight : normal;
	font-style : normal;
	font-size : 0.93em;
	text-decoration : none;
	line-height : 1.38;
	text-align : justify;
	text-indent : 0em;
	margin : 0em 0em 0em 0em;
}
p.LT {
	font-weight : normal;
	font-style : normal;
	font-size : 0.93em;
	text-decoration : none;
	line-height : 1.38;
	text-align : justify;
	text-indent : 1.2em;
	margin : 0em 2.4em;
}

p.LTX {
	font-weight : normal;
	font-style : normal;
	font-size : 0.93em;
	text-decoration : none;
	line-height : 1.38;
	text-align : justify;
	text-indent : 0em;
	margin : 0em 2.4em;
}
p.STX {
	font-weight : normal;
	font-style : normal;
	font-size : 0.93em;
	text-decoration : none;
	line-height : 1.38;
	text-align : justify;
	text-indent : 1.2em;
	margin : 1.2em 0em 0em 0em;
}
p.SB-STD {
	font-weight : normal;
	font-style : normal;
	font-size : 0.93em;
	text-decoration : none;
	line-height : 1.38;
	text-align : center;
	text-indent : 0em;
	margin : 1em 0em 0.5em 0em;
}
p.CRT {
	font-weight : normal;
	font-style : normal;
	font-size : 0.71em;
	text-decoration : none;
	line-height : 1.29;
	text-align : center;
	text-indent : 0em;
	margin : 0em 0em 1em 0em;
}

p.CRT_NO {
	font-weight : normal;
	font-style : normal;
	font-size : 0.71em;
	text-decoration : none;
	line-height : 1.29;
	text-align : center;
	text-indent : 0em;
	margin : 0em 0em 0em 0em;
}

p.CRTL {
	font-weight : normal;
	font-style : normal;
	font-size : 0.71em;
	text-decoration : none;
	line-height : 1.29;
	text-align : left;
	text-indent : 0em;
	margin : 0em 0em 0em 3.6em;
}

p.CRTR {
	font-weight : normal;
	font-style : normal;
	font-size : 0.71em;
	text-decoration : none;
	line-height : 1.29;
	text-align : right;
	text-indent : 0em;
	margin : 0em 0em 1em 0em;
}

p.ACH {
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	line-height : 1.41;
	text-align : center;
	text-indent : 0em;
	margin : 1em 0em 1.2em 0em;
}
p.ACL {
	font-weight : normal;
	font-style : normal;
	font-size : 0.93em;
	text-decoration : none;
	line-height : 1.74;
	text-align : center;
	text-indent : 0em;
	margin : 0em;
}
p.TNI-1 {
	font-weight : normal;
	font-style : normal;
	font-size : 0.93em;
	text-decoration : none;
	line-height : 1.38;
	text-align : justify;
	text-indent : 0em;
	margin : 0em;
}
p.DED {
	font-weight : normal;
	font-style : normal;
	font-size : 0.93em;
	text-decoration : none;
	line-height : 1.74;
	text-align : center;
	text-indent : 0em;
	margin : 0em;
}
p.FMH {
	font-weight : normal;
	font-style : normal;
	font-size : 1.08em;
	text-decoration : none;
	line-height : 1.19;
	text-align : center;
	text-indent : 0em;
	margin : 0em 0em 0px 0em;
	-epub-hyphens:none;
	-web-hyphens:none;
}

p.ATA {
	font-weight : normal;
	font-style : normal;
	font-size : 0.93em;
	text-decoration : none;
	line-height : 1.38;
	text-align : justify;
	text-indent : 1.2em;
	margin : 0em;
}

p.ATA-1 {
	font-weight : normal;
	font-style : normal;
	font-size : 0.93em;
	text-decoration : none;
	line-height : 1.38;
	text-align : justify;
	text-indent : 0em;
	margin : 0em;
}
p.FMH-1 {
	font-weight : normal;
	font-style : normal;
	font-size : 1.08em;
	text-decoration : none;
	line-height : 1.19;
	text-align : center;
	text-indent : 0em;
	margin : 0em 0em 100px 0em;
	-epub-hyphens:none;
	-web-hyphens:none;
}
p.FMTNI {
	font-weight : normal;
	font-style : normal;
	font-size : 0.93em;
	text-decoration : none;
	line-height : 1.38;
	text-align : justify;
	text-indent : 0em;
	margin : 0em;
}
p.FMTX {
	font-weight : normal;
	font-style : normal;
	font-size : 0.93em;
	text-decoration : none;
	line-height : 1.38;
	text-align : justify;
	text-indent : 1.2em;
	margin : 0em;
}
@page {
margin: 5pt;
}
div.cover {
text-align: center;
}
img {
max-width: 100%;
max-height: 100%;
}
a{text-decoration: none;}

p.SP
{
	margin-bottom:3em;
}

p.SP-1
{
	margin-bottom:6em;
}

p.img
{
	margin-top: 1.50em;
	margin-right: 0.00em;
	margin-bottom: 1.50em;
	margin-left: 0.00em;
	text-indent: 0.00em;
	text-align: center;
}



p.toc__BOT {
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	line-height : 1.55;
	text-align : center;
	text-indent : 0em;
	margin : 0em 0em 1.5em 0em;
}



p.toc {
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	line-height : 1.55;
	text-align : center;
	text-indent : 0em;
	margin : 0em 0em 0em 0em;
}

p.fut_tit {
	display: block;
	text-align: center;
	text-indent: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 0em;
	margin-right: 0em;
}
p.fut_toc {
	font-weight: normal;
	font-style: normal;
	font-size: 0.90em;
	line-height: 1.31em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: center;
	margin: 0em 0em 0em 0em;
}
p.fut_toc1 {
	font-weight: normal;
	font-style: normal;
	font-size: 0.90em;
	line-height: 1.31em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: center;
	margin: 0em 0em 1.50em 0em;
}
p.fut_logo {
	font-weight: normal;
	font-style: normal;
	font-size: 1.31em;
	line-height: 1.20em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: center;
	margin: 1.20em 0em 1.20em 0em;
}
